.wrapper {
	width: 800px;
}

header {
	height: 200px;
	background: red;
	margin: 10px;
}

main {
	overflow: hidden;
	/*font-size: 0;*/
}

.left {
	height: 400px;
	width: 130px;
	background: green;
	float: left;
	margin: 10px;
}

.middle {
	height: 400px;
	width: 480px;
	background: purple;
	float: left;
	margin: 10px;
}

.right {
	height: 400px;
	width: 130px;
	background: blue;
	float: right;
	margin: 10px;
}

footer {
	height: 200px;
	background: orange;
	margin: 10px;
	/*clear: both;*/
}

/*.clearfix:after {
   content: ".";
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}*/